<!doctype html>
<html lang="en">
<head>
	<title>CGC Server</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="/static/three.min.js"></script>
	<script src="/static/cube.js"></script>
	<link rel="stylesheet" href="/static/autocombobox.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Sessions</a>
			</li>
		</ul>
	</nav>
	<div class="container-fluid" style="margin:0px;padding:0px;position:absolute;top:56px;bottom:0px;overflow-y:scroll">
		<ul class="list-group service-details">
			{% for core in cores %}
			<li class='list-group-item'>
				<a href="/session/{{ sid }}/gdb/{{ core }}">{{ core }}</a></li>
			{% endfor %}]
		</ul>
	</div>
</body>
</html>

